@model Alterity.Models.Document

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Document</legend>

    <div class="display-label">VoteRatioThreshold</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoteRatioThreshold)
    </div>

    <div class="display-label">Locked</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Locked)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
