@model Alterity.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Document</legend>

    <div class="display-label">VoteRatioThreshold</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VoteRatioThreshold)
    </div>

    <div class="display-label">Locked</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Locked)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
