@model Alterity.Models.Document

@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript" src="~/Scripts/DocumentEdit/jquery.selection.js"></script>
<script data-main="~/Scripts/DocumentEdit/main" src="~/Scripts/require.js"></script>
<script>

</script>
<h2>Edit</h2>
<textarea id="plainTextArea" rows="2" cols="20"></textarea>