@model Alterity.Models.Document

@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript" src="/Scripts/DocEdit/jquery.selection.js"></script>
<script type="text/javascript">var documentId = @ViewBag.DocumentId;</script>
<script data-main="/Scripts/DocEdit/main.js" src="/Scripts/require.js"></script>
<h2>Edit</h2>
<textarea id="plainTextArea" rows="2" cols="20"></textarea>