@{
    ViewBag.Title = "Test";
}


<script type="text/javascript" src="/Scripts/AJAX/Hunk.js"></script>
<script type="text/javascript" src="/JRPCNet/Api.js"></script>
<script type="text/javascript">
    var TestFunc = function () {
        var api = new JRPCNet(ApiLocation + "JRPCNetTest");
        var hunk = new HunkDTO(0, "insert", 0, 12, "Hello world!");
        var result = api.Test(hunk, 'a string yeah!', 31);
        alert(result);
    }
</script>
<h2>Test</h2>
<button onclick="TestFunc()">Go</button>
