@{
    ViewBag.Title = "Test";
}


<script type="text/javascript" src="/Scripts/AJAX/Hunk.js"></script>
<script type="text/javascript" src="/JRPCNet/JRPCNet.js"></script>
<script type="text/javascript">
    var TestFunc = function () {
var api = new JRPCNet(ApiLocation + "Example");
alert(api.Add(3, 5));
    }
</script>
<h2>Test</h2>
<button onclick="TestFunc()">Go</button>
