
@helper DocumentList(IList<Alterity.Models.Document> documents, bool showCreateNewDocument)
{
    <div class="document-link-list">
    @if (showCreateNewDocument) {
        <a href="~/Document/Create" class="document-link document-new-link">
            <img src="~/Images/document-new.svg" /><span>Create a new document</span>
        </a>
    }
    @foreach (Alterity.Models.Document document in documents)
    {
        <a href="~/Document/Edit/@document.Id.ToString()" class="document-link">
            <img src="~/Images/document-generic.svg" /><span>@document.Title</span>
        </a>
    }
    </div>
}
